#about {
    div {
        max-width: 1500px;
        flex-direction: column-reverse;
        p {
            text-align: center;
            width: 80%;
        }
        div {
            iframe {
                max-width: 80vw;
            }
        }
    }
}

.quote {
    font-style: italic;
    font-size: large;
}

.author {
    font-size: large;
}

@media screen and (min-width: 1440px) {
    #about {
        div {
            flex-direction: row;
            justify-content: space-around;
            p {
                width: 50%;
            }
            div {
                width: 50%;
            }
        }
    }
}