button {
    @extend label;
    font-size: larger;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid black 2px;
    background-color: rgb(170, 170, 170);
    color: black;
    box-shadow: #000000 0 0 5px;
    margin: 10px 0;
}