button {
    @extend label;
    font-size: larger;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid black 2px;
    background-color: $lightGray;
    color: black;
    box-shadow: black 0 0 5px;
    margin: 10px 0;
    &:hover {
        background-color: $redBrown;
        cursor: pointer;
    }
    &:active {
        opacity: 0.8;
    }
}