#contestants {
    height: 100%;
    padding: 100px 0;
    div {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@media screen and (min-width: $breakpoint) {
    #contestants {
        div {
            flex-wrap: nowrap;
        }
    }
}