h1 {
    color: $offWhite;
    font-size: xx-large;
    text-align: center;
    font-family: Rubik, sans-serif;
    padding-bottom: 10px;
}

h2 {
    color: $offWhite;
    margin: auto;
    text-align: center;
}