nav {
    @include flexCenter(row);
    // background-color: $redBrown;//NOTE: Navbar.js cannot use scss variables. Manually change color there if you change $redBrown.
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 80px;
    box-shadow: none;
    transition: background-color 0.5s, box-shadow 0.5s;
}