section {
    @include flexCenter(column);
    background-color: gray;
    min-height: 50vh;
    h1 {
        color: $offWhite;
    }
    div {
        width: 80%;
        @include flexCenter(row);
    }
}