#title {
    div {
        padding-top: 18vh;
    }
    @include flexCenter(column);
    justify-content: start;
    height: 95vh;
    text-align: center;
    transition: background-image 2s;
    h1 {
        color: $darkBlue;
    }
    h3 {
        color: $darkBlue;
    }
}

#title-chili {
    font-family: 'Grape Nuts', cursive;
}

#logo {
    width: 150px;
}