$offWhite: rgb(252, 255, 211);
$yellowish: rgb(255, 225, 91);
$redBrown: rgb(116, 47, 45);//NOTE: Navbar.js cannot use scss variables. Manually change color there if you change $redBrown.
$lightBlue: rgb(99, 159, 171);
$darkBlue: rgb(28, 93, 153);
$lightGray: rgb(170, 170, 170);
$darkGray: rgb(36, 36, 36);

$breakpoint: 1240px;