//import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Nunito:wght@600;800&family=Rubik:wght@600&family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

//import variables
@import './variables';
@import './mixins';

//import components
@import './navlink';
@import './header';
@import './paragraph';
@import './parallax';
@import './card';
@import './microscope';
@import './input';
@import './button';

//import sections
@import './navbar';
@import './title';
@import './section';
@import './about';
@import './contestants';
@import './rsvp';
@import './footer';
